* {

  margin: 0px;
  padding: 0px;
}

li {
  
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  margin:5px;
}

.first-page {

  color: white;
  background-color: #404040;

}

.first-page h1, p {

  text-align: center;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.row {
  display: flex;
  justify-content: space-between;
}